<script type="text/javascript">
    window.currentUser = <%= logged_in? ? render("api/users/user.json.jbuilder", user: current_user).html_safe : nil %>
    window.logo = "<%= image_url('logo.png') %>"
    
    window.background = "<%= image_url('background.jpeg') %>"
    window.darklogo = "<%= image_url('logo-dark.png') %>"
</script>
<div id="root">React is not working</div>
