.modal-container {
    z-index: 100;
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: fixed;
    width: 100%;
    height: 100vh;
    left:0;
    top:0;

    display: flex;
    flex-direction: column;
    align-items: center;


    .modal-close-button {
        position: fixed;
        top: 5px;
        right: 5px;
        color: white;
        font-size: 25px;
        font-weight: bold;
        width: 50px;
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

    }
    .modal-close-button:hover {
        background-color: gray;
        transition: 0.3s;
    }

    .modal-content {
        background-color: white;
        width: 600px;
        max-height: 70%;
        margin-top: 5%;
        border-radius: 10px;

        h3:first-of-type {
            padding: 20px;
            font-weight: bold;
            font-size: 20px;
        }

        .modal-line{
            width: 100%;
            border-bottom: solid 1px gray;
        }

        .modal-form{
            display: flex;
            flex-direction: column;
            color: gray;
            label {
                display: flex;
                flex-direction: column;
                padding-left: 20px;
                padding-right: 20px;
                padding-top: 20px;
            }

            input {
                margin-top: 5px;
                padding: 5px;
                border: solid 1px gray;
                border-radius: 5px;
                font-family: avenir;
            }

            textarea{
                margin-top: 5px;
                resize: none;
                min-height: 100px;
                font-family: avenir;
                padding: 5px;
                border: solid 1px gray;
                border-radius: 5px;
            }

            .submit {
                margin: 20px;
                border: none;
                background-color: #78A2CC;
                padding: 10px;
                font-weight: bold;
            }

            .submit:hover{
                background-color: #93c7fc;
                transition: 0.3s;
            }

            select {
                // background-color: red;
                // height: 30px;
                margin-top: 5px;
                border-radius: 5px;
                border: solid 1px gray;
                font-family: avenir;
                padding: 10px;
            }
        }

        .project-modal-form{
            display: flex;
            flex-direction: column;
        }
    }
}