#my-tasks{
    // color: red;

    .task-list-item{
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        padding: 10px;
        margin-left: 25px;
        margin-right: 25px;
        border-bottom: solid 1px lightgrey;
    }

    .task-list-item:hover{
        background-color: rgb(207,207,207);
        transition: 0.3s;
    }

    .complete{
        color: lightgreen;
    }

    .incomplete {
        color: grey;
    }

    .incomplete:hover{
        color: lightgreen;
        transition: 0.3s;
    }

    .taskbar{
        display: flex;
        align-items: center;
        background-color: white;
        border-bottom: solid 1px gray;
        padding-bottom: 4px;
        height: 15px;
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 53px;

    }
}

.right-most{
    margin-right: 250px;
    transition: 0.5s;
}