.project-page{
    .project-navbar{
        background-color: lightcoral;
        display: flex;
        padding-left: 60px;
        height: 20px;
        *{
            padding-right: 10px;
        }
    }
}