.project-page{

    
    .project-list{
        // background-color: red;
        padding: 20px;
        padding-top: 10px;
        height: 85vh;
        overflow-y: scroll;
        margin-bottom: 400px;

        .fa-folder-tree{
            color: grey;
            font-size: 12px;
            padding-left: 5px;
        }

        .late{
            color: red;
        }
        .right {
            display: flex;
            span{
                width: 200px;
                // background-color: red;
                text-align: center;
            }
        }

        .project-list-header{
            display: flex;
            justify-content: space-between;
            padding: 10px;
            border-bottom: solid 1px gray;
            
        }

        
        .project-section-li-items {
            // width: 100%;
            // background-color: red;
            font-weight: bold;
            border-bottom: solid 1px lightgrey;

            padding: 10px;
            font-size: 20px;

            .sections{
                border: solid 1px white;
                padding-left: 5px;
                padding-right: 5px;
                border-radius: 5px;
                background-color: white;
            }
            .sections:hover{
                border: solid 1px lightgrey;
                background-color: lightgrey;
                transition: 0.3s;
            }

            .fa-trash-can{
                margin-left: 5px;
                font-size: 15px;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                padding: 5px;
                border-radius: 5px;
                visibility: hidden;
                // background-color: red;
                color: red;
                
                // width: 20px;
                // height: 20px;
            }

        }

        .project-section-li-items:hover{
            background-color: lightgrey;
            transition: 0.3s;
            .fa-trash-can{
                visibility: visible;
            }

            .fa-trash-can:hover{
                background-color: rgb(232, 232, 232);
                transition: 0.3s;
            }
        }
        .project-section-li-items:first-of-type{
            div{
                border: solid 1px rgba($color: #000000, $alpha: 0.0);
                padding-left: 5px;
            }
            
        }

        margin-right: 250px;
        transition: 0.5s;


        .project-list-task{
            border-bottom: solid 1px lightgrey;
            // width: 100%;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }

        .project-list-task:hover{
            background-color: lightgrey;
            transition: 0.3s;
        }

        .project-list-add-task{
            padding: 10px;
            // background-color: red;
            border-bottom: solid 1px lightgrey;
            color: grey;
        }

        .project-list-add-task:hover{
            background-color:rgb(207, 207, 207) ;
            transition: 0.3s;
        }

        i.incomplete {
            color: grey;
        }
        i.incomplete:hover {
            color: lightgreen;
            transition: 0.3s;
        }

        .complete{
            color: lightgreen;
        }

        .incomplete{
            color: black;
        }

        .add-section{
            padding: 5px;
            margin: 10px;
            font-weight: bold;
            font-size: 15px;
            background-color: #78A2CC;
            border-radius: 5px;
            width: 145px;
            text-align: center;
        }

        .add-section:hover{
            background-color: #93c7fc;
            transition: 0.3s;
        }

    }
}