.project-page{
    // .project-navbar{
    //     background-color: white;
    //     border-bottom: solid 1px gray;
    //     height: 30px;
    //     display: flex;
    //     // justify-content: center;
    //     align-items: center;
    //     padding-left: 65px;
    //     div {
    //         width: 80px;
    //         height: 30px;
    //         padding-right: 15px;
    //         text-align: center;
    //         border-bottom: solid 4px red;
    //     }
    // }

    .project-section-li-items{
        // background-color: red;
        font-weight: bold;
    }

    h3 {
        font-weight: bold;
        font-size: larger;
    }
}