#app-logged-in {
    width: 100%;
    // box-shadow: 0px 0px 10px;
}

#sidebar {
    background-color: #252525;
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
    transition: .5s;
    color: white;

    a {
        text-decoration: none;
    }

    // padding-left: 20px;
    #sidebar-inbox {
        margin-bottom: 15px;
    }
    .sidebar-scroll{
        padding-top: 15px;
        border-top: solid 1px rgb(121, 121, 121);
        // background-color: red;
        overflow-y: scroll;

        #my-teams{
            padding-left: 20px;
            padding-bottom: 10px;
        }

        height: 100%;
        
    }

    .sidebar-logo {
        padding-top: 20px;
        width: 150px;
        padding-left: 20px;
        padding-bottom: 20px;
    }

    .sidebar-list{
        display: flex;
        flex-direction: column;
        
        
        > a {
            padding-top: 5px;
            padding-left: 20px;
            padding-bottom: 5px;
        }

        > a:hover{
            // background-color: #252525;
            background-color: #6a6a6a;
        }

        i {
            width: 20px;
            // background-color: red;
        }
    }
    * {
        text-decoration: none;
        color: white;
        width: 250px;
    }

    .sidebar-team-item{
        display: flex;
        * {
            text-decoration: none;
            color: white;
        }
        i {
            // background-color: red;
            width: 13px;
            // height: 15;
        }

        .no-projects{
            padding-left: 33px;
        }
        > a {
            padding-top: 5px;
            padding-left: 20px;
            padding-bottom: 5px;
        }

        > a:hover {
            background-color: #6a6a6a;
        }

    }
    
    .sidebar-project-item{
        // padding-left: 40px;
        // height: 20px;
        // padding-top: 5px;
        // padding-bottom: 10px;
        // background-color: #252525;
        // background-color: rgb(146, 184, 197);
        // display: flex;

        > div {
            padding-left: 50px;
            padding-top: 3px;
            padding-bottom: 3px;
        }

        > div:hover {
            background-color: #6a6a6a;
        }

        i {
            padding-left: 5px;
        }
    }

    .sidebar-projects{
        background-color: #394c5f;
    }

    .sidebar-logout{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        // background-color: red;

        .sidebar-logout-button{
            margin-top: 12px;
            background-color: #78A2CC;
            text-align: center;
            width: 100px;
            padding: 8px;
            color: black;
            border-radius: 5px;
            cursor: default;
            
        }

        .sidebar-logout-button:hover{
            background-color: #93c7fc;
            cursor: default;
            transition: 0.3s;

        }



        .sidebar-profile{
            margin-top: 12px;
            font-size: 15px;
            text-align: center;
        }

        
    }
    
    .sidebar-profile-icons{
        // background-color: red;
        padding-top: 12px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 30px;
        padding-bottom: 10px;

        a {
            width: 30px;
            padding-left: 2px;
            padding-right: 2px;
        }

        .icon {
            color: rgb(135, 135, 135);
            width: 30px;
        }

        .icon:hover {
            color: white;
            transition: 0.3s;
        }


    }

    .sidebar-bottom{
        border-top:solid 1px rgb(121, 121, 121);
        position: absolute;
        left:0;
        bottom:0;
        background-color: #252525;
        // transition: 0s;
    }

    .add-team-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;

        .add-team-button{
            background-color: #78A2CC;
            color: black;
            width: 100px;
            text-align: center;
            padding: 4px;
            border-radius: 4px;
        }

        .add-team-button:hover{
            cursor: default;
            background-color: #93c7fc;
            transition: 0.3s;
        }
    }
}


#main-content {
    margin-left: 250px ;
    transition: margin-left .5s;
    width: 100%;

}