.team-page {
    

    // .team-show-projects-item{
    //     border: solid 4px gray;
    //     width: 400px;
    // }
    

    .team-show{
        // background-color: rgba($color: #000000, $alpha: 0.3);
        
        .team-show-left{
            margin-right: 20px;

            h3 {
                border-bottom: solid 1px gray;
                padding-bottom: 10px;
                font-weight: bold;
            }

            .team-show-description {
                margin-top: 10px;
                // background-color: red;
                min-height: 70px;
                padding: 10px;
                border-radius: 10px;
                border: solid 1px white;
                line-height: 20px;
            }

            .team-show-description:hover{
                border: solid 1px lightgray;
                transition: 0.3s;
            }
        }


        .team-show-projects-label {
            border-bottom: solid 1px gray;
            padding-bottom: 10px;
            font-weight: bold;
        }

        // background-color: aqua;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        // align-items: center;
        padding-top: 30px;

        .team-show-content{
            display: flex;
        }

        .team-show-left{
            width: 300px;
            // background-color: red;
        }

        .team-show-projects {
            width: 640px;
            // background-color: blue;
            margin-right: 250px;
            transition: 0.5s;
            ul {
                display: flex;
                flex-wrap: wrap;
            }

            a {
                text-decoration: none;
            }

            li {
                width: 150px;
                min-height: 210px;
                // background-color: lightgrey;
                margin-right: 10px;
                margin-top: 10px;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                // padding: 10px;
                text-decoration: none;


                .new-project {
                    border: dashed 2px gray;
                }

                .project-square{
                    // background-color: red;
                    width: 130px;
                    height: 130px;
                    border-radius: 15px;
                    margin: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 40px;
                    text-decoration: none;
                    
                    i {
                        // text-decoration: none;
                        // color: black;
                    }
                }

                .actual-projects{
                    background-color: #78A2CC;
                    color: white;
                    border: solid 2px #78A2CC;
                }

                p {
                    margin: 10px;
                    margin-top: 0;
                    text-decoration: none;
                    color: black;
                    // background-color: red;
                    text-align: center;
                    width: 130px;
                    overflow: hidden;
                }
            }

            li:hover {
                background-color: rgb(207, 207, 207);
                transform: translate(0px, -5px);
                transition: 0.3s;
            }
        }
    }
}