.team-page {
    .team-navbar{
        background-color: lightcoral;
        display: flex;
        padding-left: 60px;
        height: 20px;
        *{
            padding-right: 10px;
        }

    }

    .team-show-projects-item{
        border: solid 4px gray;
        width: 400px;
    }
}